@media screen and (max-width: 1500px) {
  
  .swiper-wrapper {
    height: 400px;
  }  

  .swiper-slide {
    width: 500px;
    height: 300px;
  }

  .swiper-slide-active {
    height: 400px;
  }

}

@media screen and (max-width: 1200px) {
  
  .swiper-wrapper {
    height: 350px;
  }  

  .swiper-slide {
    width: 400px;
    height: 300px;
  }

  .swiper-slide-active {
    height: 350px;
  }

  .stackSection {
    margin: 200px 0 100px 0;
  }

}

@media screen and (max-width: 1000px) {

  .text-container-home {
    font-size: 50px;
  }

  .subTitleHome {
    font-size: 30px;
  }

  .titleSection {
    font-size: 40px;
  }

  .aboutText {
    font-size: 30px;
  }
  
  .swiper-wrapper {
    height: 300px;
  }  

  .swiper-slide {
    height: 300px;
  }

  .swiper-slide-active {
    height: 300px;
  }

}

@media screen and (max-width: 850px) {

  .homeSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }

  .hero-conteiner-home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-container-home {
    width: 100%;
  }

  .heroImg {
    max-width: 50%;
    margin: -50px 0 50px 0;
  }
  
  .swiper-wrapper {
    height: 400px;
  }  

  .swiper-slide {
    height: 400px;
  }

}

@media screen and (max-width: 750px) {

  .text-container-home {
    font-size: 50px;
  }

  .subTitleHome {
    font-size: 30px;
  }

  .formTitle {
    font-size: 40px;
  }

}

@media screen and (max-width: 650px) {

  .menuBurger {
    font-size: 30px;
  }

  .navigation-container {
    padding: 0;
  }

  .navigationTitle {
    font-size: 40px;
  }

  .settingsTitle {
    font-size: 40px;
  }

  .subSettingsTitle {
    font-size: 25px;
  }

  .homeSection {
    margin: 150px 0 150px 0;
  }
  
  .aboutText {
    font-size: 25px;
  }
  
  .heroImg {
    max-width: 70%;
    margin: 0 0 50px 0;
  }

  .swiper-wrapper {
    height: 350px;
  }  

  .swiper-slide {
    height: 350px;
  }

}

@media screen and (max-width: 550px) {

  .menuBurger {
    font-size: 25px;
  }

  .burberMenu-container {
    flex-direction: column;
  }
  
  .navigation-container {
    width: 100%;
    border: none;
    border-bottom: 5px solid var(--colorText);
    /* margin: 0 0 20px 0; */
    padding: 20px 0 20px 0;
  }

  .navigationTitle {
    font-size: 30px;
  }

  .settings-container {
    width: 100%;
    border: none;
    padding: 20px 0 20px 0;
  }

  .settingsTitle {
    font-size: 30px;
  }

  .subSettingsTitle {
    font-size: 20px;
  }

  .btnTheme {
    width: 50px;
    border-radius: 5px;
    font-size: 17.5px;
    margin: 0 15px 0 15px;
  }

  input, textarea {
    width: 400px;
  }

  .contactFormSubmit {
    width: 400px;
  }

}

@media screen and (max-width: 500px) {

  .colorItem {
    margin: 0;
  }

  .aboutText {
    font-size: 23px;
  }

  .stackSection {
    margin: 100px 0 100px 0;
  }

  .swiper-wrapper {
    height: 250px;
  }  

  .swiper-slide {
    height: 250px;
  }

  .swiper-slide img {
    border-radius: 20px;
  }

  .siteInfo-container {
    text-align: center;
  }

  .btn-swiper-container {
    width: 60%;
    justify-content: space-around;
  }

  .btnSlider {
    margin: 0;
  }

}

@media screen and (max-width: 450px) {

  .btn-swiper-container {
    width: 70%;
  }

  .formTitle {
    font-size: 30px;
  }

  input, textarea {
    width: 300px;
  }

  .contactFormSubmit {
    width: 300px;
  }

}

@media screen and (max-width: 400px) {

  .heroImg {
    max-width: 100%;
  }

  .text-container-home {
    font-size: 40px;
  }

  .subTitleHome {
    font-size: 25px;
  }

  .aboutSection {
    margin: 100px 0 100px 0;
  }

  .swiper-wrapper {
    height: 250px;
  }  

  .swiper-slide {
    height: 250px;
  }

  .swiper-slide img {
    border-radius: 10px;
  }

  .btn-swiper-container {
    width: 85%;
  }

}

@media screen and (max-width: 350px) {

  .swiper-wrapper {
    height: 200px;
  }  

  .swiper-slide {
    height: 200px;
  }

  .siteInfo-container {
    font-size: 30px;
  }

}
